*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$hoverNavlink:#FFf;
$mainColor:#0c2461;
$mainFontColor:#eb2f06;
$mainActive:green;
$backgroundNav:black;
body {
  font-family: 'Raleway', sans-serif;
  color: $mainFontColor;
}

